@import url('./filter-btn/filter-btn.css');
@import url('./sort-btn-dropdown/sort-btn-dropdown.css');



.filter-sort-btns-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.filter-sort-btns-wrapper>*~* {
    margin-left: 10px;
}

