.map-overlay {
    margin-bottom: 10px;
}

#radiusInput {
    outline: none !important;
    outline-offset: 0px !important;
}

#map {
    width: 38vw;
    /* 100% der Viewport-Breite */
    height: 60vh;
    /* 100% der Viewport-Höhe */
}

.custom-popup {
    background: none;
    border-radius: 8px;
    font-family: 'Arial', sans-serif;
    color: #333333;
    font-size: 14px;
    padding: 12px;
}

.custom-popup .mapboxgl-popup-tip {
    border-top-color: #00326d;
}