@import url('./css/root.css');
@import url('./css/header.css');
@import url('./css/footer.css');
@import url('./css/sidebar/sidebar.css');
@import url('./css/filter-sort_btns/filter-sort_btns.css');
@import url('./css/courseCard.css');
@import url('./css/searchsidebar.css');
@import url('./css/media.css');


.main-section {
    position: relative;
    padding-top: 10px;
}