:root {
    --color-box: #ffffff;
    --color-headline: #00326d;
    --color-text: #3c3c3c;
    --color-confirmation-background: #ffffff;
    --color-confirmation-text: #3c3c3c;
    --color-checkbox: #00326d;
    --color-checkbox-required: #3c3c3c;
    --color-button-all: #00326d;
    --color-button-all-hover: #d50c2f;
    --color-button-all-text: #FFFFFF;
    --color-button-specific: #00326d;
    --color-button-specific-hover: #d50c2f;
    --color-button-specific-text: #FFFFFF;
    --color-button-essential: #00326d;
    --color-button-essential-hover: #d50c2f;
    --color-button-essential-text: #FFFFFF;
    --color-button-close: #00326d;
    --color-button-close-hover: #d50c2f;
    --color-button-close-text: #FFFFFF;
    --color-list: #d5e3f3;
    --color-list-text: #3c3c3c;
    --color-table: #d5e3f3;
    --color-table-data-text: #3c3c3c;
    --color-table-header: #d5e3f3;
    --color-table-header-text: #3c3c3c;
    --color-full-box: #143D59;
    --color-full-headline: #FFFFFF;
    --color-full-text: #FFFFFF;
    --color-full-button-close: #143D59;
    --color-full-button-close-hover: #143D59;
    --color-full-button-close-text: #FFFFFF;
    --iframe-color-consent-box-background: #d5e3f3;
    --iframe-color-button-load-one: #00326d;
    --iframe-color-button-load-one-hover: #d50c2f;
    --iframe-color-button-load-one-text: #FFFFFF;
    --iframe-color-open-settings: #3c3c3c;
    --banner-color-box: #ffffff;
    --banner-color-text: #3c3c3c;
    --banner-color-link-text: #00326d;
    --banner-color-button-settings: #00326d;
    --banner-color-button-settings-hover: #d50c2f;
    --banner-color-button-settings-text: #ffffff;
    --banner-color-button-accept-essential: #00326d;
    --banner-color-button-accept-essential-hover: #D7D7D7;
    --banner-color-button-accept-essential-text: #FFFFFF;
    --banner-color-button-accept: #00326d;
    --banner-color-button-accept-hover: #d50c2f;
    --banner-color-button-accept-text: #FFFFFF;
    --color-fingerprint-image: #FFFFFF;
    --color-fingerprint-background: #143D59;
}
